:root
{
    --main-color: #36281d;
    --title-font: "Mirra", sans-serif;
    --news-font: "Headlines", sans-serif;
    --main-news: Snell Roundhand, cursive;
}

@font-face
{
    font-family: "Mirra";
    src: url("../fonts/Mirra.otf") format("opentype");
}

@font-face
{
    font-family: "weather";
    src: url("../fonts/weather.otf") format("opentype");
}

@font-face
{
    font-family: "Headlines";
    src: url("../fonts/Headlines.ttf") format("opentype");
}

@font-face
{
    font-family: "halloween";
    src: url("../fonts/halloween.ttf") format("opentype");
}

.A4
{
    width: 70cm;
    height: 100cm;
    margin: auto;
    border: 10px solid saddlebrown;
    background-image: url("../img/paper-small.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.A4:has(> .item:checked)
{
    background: var(--main-color);
    border: 10px solid beige;
}

.item:checked ~ * *
{
    color: beige;
}

.item:checked ~ * .witch
{
    filter: sepia(10) hue-rotate(30deg) brightness(7);
}

#btnControl
{
    display: none;
}

.btn
{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 30px 3px;
    display: block;
    text-align: center;
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    font-size: 30px;
    line-height: 20px;
}

.item
{
    display: none;
}

.label
{
    margin-top: 300px;
}

@media screen
{
    .A4
    {
        transform: scale(0.52);
        transform-origin: 5px 5px;
    }
}

@media print
{
    .A4
    {
        .btn
        {
            display: none;
        }

        transform: scale(1);
        transform-origin: left top;
        margin: 0;
        @supports not (-moz-appearance: none)
        {
            zoom: 30%;
        }
    }
}

.name
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.newspaper-name
{
    display: flex;
    flex-direction: column;
}

.first-line
{
    font: 400% var(--main-news);
    color: var(--main-color);
    margin-left: 400px;
}

.second-line
{
    font: 500% var(--news-font);
    color: var(--main-color);
}

.third-line
{
    font: 200% var(--main-news);
    color: var(--main-color);
    margin-left: 100px;
}

.logo
{
    font-size: 20px;
}

.name,
.play-news,
.weather,
.main,
.halloween,
.sec,
.drink,
.col-first,
.col-second,
h1,
h2,
h3,
p,
li,
table,
tr,
td,
img
{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
}

.A4:hover *
{
    opacity: 1;
}

@media print
{
    .A4 *
    {
        opacity: 1;
    }
}

.play-news
{
    padding: 20px;
    text-align: center;
    margin-left: 2000px;
    position: absolute;
}

.play-news h1
{
    font: bold 80px var(--news-font);
    color: var(--main-color);
}

.play-news h2
{
    font: bold 50px var(--news-font);
    color: var(--main-color);
    margin-left: 250px;
}

.weather
{
    padding: 20px;
    text-align: center;
    float: right;
    height: 200px;
    margin-top: 50px;
    color: var(--main-color);
}

.weather dt
{
    text-align: left;
    font: bold 50px var(--news-font);
}

.weather dd
{
    text-align: center;
    font: bold 50px var(--news-font);
}

dd.symbols
{
    font: bold 90px "weather", sans-serif;
}

.zodiac
{
    margin-top: 100px;
}

.marquee-container
{
    width: 2500px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 100px;
    margin-top: 100px;
}

.marquee
{
    display: inline-block;
    animation: run 13s linear infinite;
    font-size: 90px;
    font-family: Luminari, fantasy;
    color: var(--main-color);
}

@keyframes run
{
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(-20%);
    }
    100%
    {
        transform: translateX(0);
    }
}

.main
{
    line-height: 30px;
    font-family: var(--news-font);
    background: #36281d;
    color: beige;
    width: 60%;
    height: 7%;
    padding: 50px;
    margin-left: 250px;
}

.main h1
{
    font-size: 700%;
    margin-top: 10px;
}

.main h2
{
    font-size: 150px;
    text-align: center;
    margin-top: 7px;
}

.headline
{
    display: flex;
    align-items: center;
}

.pumpkin
{
    font: 75% "halloween", sans-serif;
    margin-top: 10px;
}

.super:hover
{
    text-shadow: -400px 0 rgba(255, 99, 71, 0.5), 400px 0 rgba(154, 205, 50, 0.5),
    0 0 rgba(135, 206, 250, 0.5);
}

.halloween
{
    font: 50px var(--title-font);
    color: var(--main-color);
    column-count: 2;
    display: flex;
}

.col-first,
.col-second
{
    width: 600px;
    margin-left: 60px;
}

.col-first::first-letter,
.col-second::first-letter
{
    font: bold 90px var(--main-news);
}

.video
{
    width: 700px;
    height: 700px;
    margin-top: 70px;
    margin-left: 50px;
}

.witch
{
    animation: marquee 10s infinite linear;
}

@keyframes marquee
{
    0%
    {
        transform: translateX(1000%);
    }
    100%
    {
        transform: translateX(30%);
    }
}

.joke
{
    display: flex;
}

.dance
{
    width: 60%;
    margin-left: 50px;
    height: 60%;
}

.joke h1
{
    font: 50px var(--title-font);
    color: var(--main-color);
    line-height: 60px;
    margin-right: 20px;
    margin-left: 25px;
}

.joke h1::first-letter
{
    font: bold 90px var(--main-news);
}

.drink
{
    margin-left: 50px;
    margin-top: 200px;
    width: 1200px;
    color: var(--main-color);
    font: 30px Optima, sans-serif;
    position: relative;
}

.drink h1::first-letter
{
    font: bold 90px var(--main-news);
}

.drink h1
{
    padding-left: 10px;
}

.cheers
{
    width: 90%;
    height: 110%;
    top: 0;
    position: absolute;
    filter: grayscale(100%);
}

.cheers:hover
{
    opacity: 0.25;
}

.hippo-image
{
    position: absolute;
    display: none;
    z-index: 100;
    transition: opacity 1s ease-in-out;
}

.href:hover + .hippo-image
{
    display: block;
    opacity: 1;
}

.href:hover + .hippo-image img
{
    animation: flyAway 5s linear forwards;
}

@keyframes flyAway
{
    0%
    {
        transform: translate(0, 0);
        opacity: 1;
    }
    50%
    {
        transform: translate(600px, -150px);
        opacity: 1;
    }
    100%
    {
        transform: translate(800px, -300px);
        opacity: 0;
    }
}

.hippo-news
{
    font: 50px var(--title-font);
    display: flex;
    margin-right: 0;
    margin-left: auto;
    margin-top: -150px;
    width: 55%;
}

.hippo h1
{
    font: 200px "Headlines", sans-serif;
    margin-left: auto;
    margin-top: -4.5em;
    border: 2px solid;
    background: #36281d;
    color: beige;
    width: 50%;
    text-align: center;
}

.hippo a
{
    color: beige;
}

.col-one::first-letter,
.col-two::first-letter
{
    font: bold 90px var(--main-news);
}

@media screen and (max-width: 900px)
{
    .A4
    {
        width: 1500px;
        height: 2000px;
    }

    .logo
    {
        width: 250px;
        height: 250px;
    }

    .newspaper-name
    {
        margin-top: -40px;
        line-height: 2px;
        margin-left: -90px;

        .second-line
        {
            margin-left: 200px;
        }
    }

    .first-line,
    .second-line,
    .third-line
    {
        font-size: 150%;
    }

    .btn
    {
        width: 200px;
        height: 10px;
        font-size: 30px;
    }

    .main
    {
        margin-left: 10px;
        width: 50%;
    }

    .main h2
    {
        font-size: 50px;
    }

    .headline
    {
        & h1
        {
            font-size: 50px;
        }

        .super
        {
            width: 1px;
        }
    }

    .video
    {
        width: 300px;
        height: 300px;
    }

    .halloween
    {
        display: flex;
        align-items: flex-start;
        font-size: 21px;

        .col-first
        {
            order: -1;
            width: 700px;
            margin-right: -15px;
        }

        .col-second
        {
            order: 0;
            width: 700px;
            margin-right: -15px;
        }

        .video
        {
            order: 1;
            margin-right: -15px;
        }

        .col-first:first-letter,
        .col-second:first-letter
        {
            font-size: 30px;
        }
    }

    .witch
    {
        height: 100px;
        width: 100px;
    }

    .play-news
    {
        margin-left: 1050px;
        margin-top: -30px;

        & h1
        {
            font-size: 2px;
        }

        & h2
        {
            font-size: 20px;
            margin-left: 200px;
        }
    }

    .play-news h1,
    .play-news h2
    {
        font-size: 30px;
    }

    .weather
    {
        margin-right: 60px;

        .zodiac
        {
            margin-top: -20px;
            margin-left: 200px;
            height: 300px;
            width: 300px;
        }

    }

    .weather dt,
    .weather dd
    {
        width: 500px;
        font-size: 30px;
    }

    dd.symbols
    {
        font-size: 70px;
    }

    .joke h1
    {
        font-size: 30px;
        line-height: 25px;
        order: -1
    }

    .dance
    {
        order: 0;
        height: 180px;
    }

    .hippo h1
    {
        font-size: 100px;
    }

    .hippo-news
    {
        font-size: 30px;
        margin-top: -100px;
    }

    .drink
    {
        width: 600px;
        height: 400px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .cheers
    {
        border-radius: 10px;
    }

    .drink h1,
    .drink h2
    {
        font-size: 34px;
    }

    .drink h1:first-letter
    {
        font-size: 40px;
    }

    .marquee-container
    {
        margin-top: -30px;
    }

    .marquee
    {
        font-size: 50px;
    }

    .marquee-container
    {
        width: 1400px;
        margin-left: 50px;
    }

}
