@page {
    size: A4;
    margin: 10mm;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
    }
}

header {
    position: relative;
    text-align: center;
    padding: 50px;
    width: 100%;
    margin: 0 auto;
    border: 5px solid black;
    background-color: #f8f8f8;
}

header::before,
header::after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    border: 10px solid black;
    z-index: -1;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        violet
    );
}

html,
body {
    background: url("images/book.jpg") no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

.container {
    width: 100%;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.allNews {
    column-count: 3;
    column-gap: 30px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.news1,
.news2 {
    width: 100%;
    box-sizing: border-box;
}

img.photo,
img.photo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.for_footer,
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.font {
    background-color: #f8f8f8;
    padding: 10px;
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #f8f8f8;
    padding: 10px;
    z-index: 1;
}

.select input {
    display: none;
}

#text {
    position: absolute;
    display: block;
    top: 0;
    padding-left: 10px;
}

.select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 34px;
    line-height: 30px;
    position: relative;
}

.select:before {
    content: ">";
    display: inline-block;
    background: white;
    position: absolute;
    right: -5px;
    top: 2px;
    z-index: 2;
    width: 30px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border: 2px solid #ddd;
    transform: rotate(90deg);
    cursor: pointer;
}

.select input[name="list"]:not(:checked) ~ #text {
    color: black;
    background: white;
}

.select input[name="list"]:checked ~ #text {
    background: transparent;
    color: transparent;
    z-index: 2;
}

.items {
    display: block;
    min-height: 30px;
    position: absolute;
    border: 2px solid #ddd;
    overflow: hidden;
    width: 160px;
    cursor: pointer;
}

#select:not(:checked) ~ .items {
    height: 30px;
}

.items label {
    border-top: 2px solid #ddd;
    padding-left: 10px;
    background: white;
}

.items label:hover {
    background: #eee;
    cursor: pointer;
}

#select:checked ~ .items {
    padding-top: 30px;
}

#select:checked ~ .items label {
    display: block;
}

.items input:checked + label {
    display: block !important;
    border: none;
    background: white;
}

.customletter {
    color: brown;
    /* font-style: italic; */
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    /* font-family: 'Comic Sans MS', cursive; */
    color: darkgreen;
    /* font-style: italic; */
}

.quote {
    /* font-style: italic; */
    padding: 30px;
    color: purple;
}

.photo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
